<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body id="aboutPage">
    <h2>About the Artists</h2>
    <main>
        <img id="idPicture" src="/public/images/Bernhard_Martin.jpg">
        <div id="Martin">
            <h3>Bernhard Martin</h3>
            <p>Bernhard Martin is a german artist and was born 1966 in Hanover. Bernhard Martin draws from a plethora of sources both high and low to produce paintings, sculptures, and installations that fuse reality and fantasy. Martin’s artworks—which have ranged from architectural models to medical illustrations—bring art historical and pop imagery together in surreal juxtaposition. “What I am interested in is the clash between worlds, islands, chambers of marvel, biotopes, contrasts,” Martin has said. “In other words, everyday life.” Kings Corner, one of a series of armoires created by the artist, is an installation consisting of a walk-in closet that opens to reveal a bedazzling dance-bar tableau. The work at once meditates on the alienation of the modern human condition and addresses the dichotomy between the mundane and the fantastical. “What I need I make for myself,” he says.</p>
            <a href="/views/index.html">go back</a>
            <a href="/views/gallery.html">visit gallery</a>
        </div>

    </main>

    <script src="/public/scripts.js"></script>
</body>
</html>