<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Favorite Artworks</title>
</head>
<body>
    <div class="homePage">
    <h1>Bernhard Martin</h1>
    <a class="galleryLink" href="/views/gallery.html"><img src="/images/pixel-art-landscape-painting-frame-vector-icon-8bit-game-white-background_360488-470-removebg-preview.png"></a>
    <a id="aboutArtist" href="/about">About the Artist<!-- <img src="/public/images/headbutton.png" alt=""> --></a>
    </div>

    <script src="/scripts.js"></script>
</body>
</html>